<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239152501184-jr1ip59gsla5dotgta5k0ibjlpce4o2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239152501184-jr1ip59gsla5dotgta5k0ibjlpce4o2o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>239152501184-t75utoscd0lnhahakefoo6nt6ngegdoi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8kzutz9ACthaK5v9CNd0xzsNYfmC0AnY</string>
	<key>GCM_SENDER_ID</key>
	<string>239152501184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buzzmap</string>
	<key>PROJECT_ID</key>
	<string>buzzmap-979fb</string>
	<key>STORAGE_BUCKET</key>
	<string>buzzmap-979fb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:239152501184:ios:7f0238eb30b7445b69f825</string>
</dict>
</plist>
